@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    font-family: 'Roboto',sans-serif;

}

#homepage-container{
    min-height: 100%;
}

#homepage-main{
    overflow: auto;
    padding-bottom: 50px;
    padding: 20px;
}

:root {
    --animate-duration: 1000ms;
    --animate-delay: 0.5s;

}
.logo{
    padding: 1rem 0rem 0rem 1rem;
}
.logo h2{
    font-size: 3rem;
    font-weight: 700;
    color: #0b356d;    
}

.home-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 2rem;
}

.home-contents{
    margin-top: 14rem;
}
.home-contents .content-heading{
    font-size: 3rem;
    font-weight: bolder;
    color: #1155ad;

}

.home-contents .content-info, a{
    font-size: 1.75rem;
    font-weight: 500;
}

.donate-button-container{
    display: flex;
    justify-content: space-between;
}
.home-contents .btn form {
    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
    border-radius: 0.50rem;
    padding: 0.75rem 0rem;
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.home-contents .btn form:hover{
    opacity: 1;
}

.modal-title{
    font-size: 1.75rem;
    font-weight: bold;
}
.learn-btn{
    background-color: inherit;
    font-size: 1.5rem;
    color: #1155ad;
    text-decoration: underline;
    outline: none;
    box-shadow: none;
    border: 0;

}

.learn-btn:focus, .learn-btn:active{
    outline: transparent none 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.learn-btn:hover{
    background-color: inherit;
    color: inherit;
    text-decoration: underline;
}

.modal-body{
    font-size: 1rem;
}
.donate-img{
    padding-left: 6rem;
}
.donate-img img{
    max-width: 50rem;
    height: 40rem;
}



.follow-us-container{
    margin-top: 7rem;
    float: right;
}


.social-icons {
    font-size: 1.5rem;
    margin: 0.75rem 2rem;
    color: #0b356d;
}
.social-icons > i{
    padding-right: 1rem;
}

.fa-twitter:hover{
    color: #1DA1F2;
    transition: all 0.3s ease-in;
}

.fa-linkedin-in:hover{
    color: #0e76a8;
    transition: all 0.3s ease-in;
}

.fa-facebook-f:hover{
    color: #1778f2;
    transition: all 0.3s ease-in;
}

.fa-instagram:hover{
    color: #d6249f;
    transition: all 0.3s ease-in;
}




#main-footer{
    position: relative;
    background-color: #0b356d;
    color: whitesmoke;
    height: 50px;
    margin-top: -50px;
    clear: both;
    padding: 0.5rem 0rem;
}

.footer-contents, .footer-link{
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

.footer-contents a{
    color: whitesmoke;
    opacity: 0.4;
    transition: .3s ease-in;
}

.footer-contents a:hover{
    opacity: 1;
}   

@media screen and (max-width:1280px){
    
    .donate-img{
        margin: 0 auto 0 auto;
        padding-left: 0rem;
    }
    .donate-img img{
        max-width: 35rem;
        height: 35rem;
    }

    
}
@media screen and (max-width:1024px){
    .logo{
        padding: 0.75rem 0rem 0rem 1.75rem;
    }

    .logo h2{
        font-size: 2.5rem;  
    }
    .home-container{
        flex-direction: column;
        margin: 0;
    }

    .home-contents{
        margin-top: 3.25rem;
        text-align: center;
    }
    
    
    
    .donate-button-container{
        flex-direction: column;
        justify-content: center;
    }
    

    .learn-more{
        text-align: center;
        padding: 0rem 0rem .35rem 0rem;
        margin-top: -1.5rem;
    }

    .learn-btn{
        font-size: 1.5rem;
    
    }
    .donate-img{
        margin: 0 auto 0 auto;
        padding-left: 0rem;
    }
    .donate-img img{
        max-width: 35rem;
        height: 17rem;
    }
    
    .social-icons {
        font-size: 1.25rem;
        margin: 0.55rem 0rem;
        color: #0b356d;
    }
    #homepage-main{
        overflow: auto;
        padding-bottom: 0px;
        padding: 0px;
    }

    #main-footer{
        height: 50px;
        margin-top: -50px;
        clear: both;
    }
    
    .footer-contents, .footer-link{
        font-size: 1.25rem;
    }
}
@media screen and (max-width:768px){
    .logo{
        padding: 0.75rem 0rem 0rem 1.75rem;
    }

    .logo h2{
        font-size: 2.5rem;  
    }
    .home-container{
        flex-direction: column;
        margin: 0;
    }

    .home-contents{
        margin-top: 1.25rem;
        text-align: center;
    }
    .home-contents .content-heading{
        font-size: 2.5rem;
        font-weight: bolder;
        color: #1155ad;
    
    }
    
    
    .home-contents .content-info, a{
        font-size: 1.55rem;
        font-weight: 500;
    }
    
    .donate-button-container{
        flex-direction: column;
        justify-content: center;
    }
    
    .home-contents .btn form:hover{
        opacity: 1;
    }
    
    .modal-title{
        font-size: 1.75rem;
        font-weight: bold;
    }

    .learn-more{
        text-align: center;
        padding: 0rem 0rem .35rem 0rem;
        margin-top: -1.5rem;
    }

    .learn-btn{
        font-size: 1.5rem;
    
    }
    .donate-img{
        margin: 0 auto 0 auto;
        padding-left: 0rem;
    }
    .donate-img img{
        max-width: 35rem;
        height: 15rem;
    }
    
    
    
    .follow-us-container{
        margin-top: 2.23rem;
        float: unset;
        text-align: center;
    }
    
    
    .social-icons {
        font-size: 1.25rem;
        margin: 0.55rem 0rem;
        color: #0b356d;
    }
    #homepage-main{
        overflow: auto;
        padding-bottom: 0px;
        padding: 0px;
    }

    #main-footer{
        height: 50px;
        margin-top: -50px;
        clear: both;
    }
    
    .footer-contents, .footer-link{
        font-size: 1.25rem;
    }
}

  