@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    background-attachment: fixed;
    height: 100%;
    font-family: 'Roboto',sans-serif;

}
/*
#homepage-container{
    min-height: 100%;
}

#homepage-main{
    overflow: auto;
    padding-bottom: 8vh;
}

*/
.logo{
    min-height: 5vh;
    padding: 1rem 0rem 0rem 1rem;
}
.logo h2{
    font-size: 3rem;
    font-weight: 700;
    color: #0b356d;    
}

.home-container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 2rem;
    min-height: 85vh;
}

.home-contents{
    margin-top: 14rem;
}
.home-contents .content-heading{
    font-size: 3rem;
    font-weight: bolder;
    color: #1155ad;

}

.home-contents .content-info, a{
    font-size: 1.75rem;
    font-weight: 500;
}

.donate-button-container{
    display: flex;
    justify-content: space-between;
}
.home-contents .btn form {
    text-decoration: none;
    font-size: 1.5rem;
    color: whitesmoke;
    border-radius: 0.5rem;
    padding: 0.75rem 0.75rem;
    opacity: 0.5;
    transition: 0.3s ease-in;
}

.home-contents .btn form:hover{
    opacity: 1;
}

.home-contents .learn-more a{
    font-size: 1.5rem;
    color: #1155ad;
    text-decoration: underline;
}
.donate-img{
    padding-left: 6rem;
}
.donate-img img{
    max-width: 50rem;
    height: 40rem;
}

/*
#main-footer{
    position: relative;
    background-color: rgb(26, 64, 99);
    color: whitesmoke;
    height: auto;
    margin-top: -10vh;
    clear: both;
    padding: 0.5rem 0rem;
}

.footer-contents, .footer-link{
    font-size: 1.5rem;
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}

.footer-contents a{
    opacity: 0.4;
    transition: .3s ease-in;
}

.footer-contents a:hover{
    opacity: 1;
}
*/