@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo{
    padding: 1rem 0rem 1rem 1rem;
}
.logo h2{
    font-size: 3rem;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
}